
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(196, 192, 192);
}

li {
  float: left;
}

li a {
  display: block;
  color:floralwhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:ghostwhite;
}

.p1 {text-align:center}
.p2 {text-align:left}

    table, th, td {
      border: 1px solid black;
      border-collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    table {style=width:50%}
    .p3 {text-align:justify}